*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
desktopApp/cachedImages
desktopApp/AppDatabase.db

shared/AppDatabase.db
shared/src/desktopMain/cachedImages
